// Archivos parciales
@use 'abstracts/fonts';
@use 'abstracts/colors' as color;
@use 'components/menu';

.contenedor-principal {
    background: color.$azul-kuali;
    width: 100%;
    height: 100%;
}