// Archivos Parciales
@use '../abstracts/colors' as color;
@use '../abstracts/fonts';

.menu {
    position: relative;
	width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    color: color.$negro-kuali;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .logo {
        width: 100px;
        height: 100px;
        background: #564;
        
        img {
            width: 160px;
            padding: 20px 50px;
            float: left;
        }
    }

    .ubicacion {
        width: 100px;
        height: 100px;
        background: #0987;
    }

    .pedidos-agendados {
        background: rgba(105, 0, 153, 0.467);
        width: 100px;
        height: 100px;
    }

    .opciones-usuario {
        background: rgba(153, 0, 8, 0.467);
        width: 100px;
        height: 100px;
    }

}